.main-div mat-card{
  padding: 0px;
}
.signup-form{
  padding: 20px;
}
.theme-options{
  max-width: 800px;
  margin:0 auto;
  padding:20px 0;
  div{
    cursor:pointer;
    width:20px;
    height: 20px;
    border-radius: 4px;
    margin:2px 10px;
    display: inline-block;

  }
}
#theme-white{
  background-color: white;
}
#theme-blue{
  background-color: cornflowerblue;
}
#theme-green{
  background-color: darkgreen;
}
#theme-pink{
  background-color: fuchsia;
}
#theme-yellow{
  background-color: burlywood;
}
#theme-purple{
  background-color: blueviolet;
}


