<div fxLayoutAlign="center center" fxFlexFill class="main-div">

  <mat-card fxFlex="25">

    <mat-tab-group>
      <mat-tab label="SignUp">




    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="signupForm" class="signup-form">

      <mat-form-field >
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" placeholder="First Name"
               [ngClass]="{ 'is-invalid': signupFormCtrl.firstName.touched && signupFormCtrl.firstName.invalid }">
        <div class='invalid-feedback'>
          <div *ngIf='signupFormCtrl.firstName.errors?.required'>Required</div>
        </div>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" placeholder="Last Name"
               [ngClass]="{ 'is-invalid': signupFormCtrl.lastName.touched && signupFormCtrl.lastName.invalid }">
        <div class='invalid-feedback'>
          <div *ngIf='signupFormCtrl.userName.errors?.required'>Required</div>
        </div>
      </mat-form-field>

      <mat-form-field >
        <mat-label>User Name</mat-label>
        <input matInput formControlName="userName" placeholder="User Name"
               [ngClass]="{ 'is-invalid': signupFormCtrl.userName.touched && signupFormCtrl.userName.invalid }">
        <div class='invalid-feedback'>
          <div *ngIf='signupFormCtrl.userName.errors?.required'>Required</div>
        </div>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"
               [ngClass]="{ 'is-invalid': signupFormCtrl.email.touched && signupFormCtrl.email.invalid }">
        <div class='invalid-feedback'>
          <div *ngIf='signupFormCtrl.email.errors?.required'>Required</div>
          <div *ngIf='signupFormCtrl.email.errors?.email'>Enter valid email address</div>
        </div>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password"
               [ngClass]="{ 'is-invalid': signupFormCtrl.password.touched && signupFormCtrl.password.invalid }">
        <div class='invalid-feedback'>
          <div *ngIf='signupFormCtrl.password.errors?.required'>Required</div>
          <div *ngIf='signupFormCtrl.password.errors?.pattern'>Please enter lowercase, uppercase, special character and min length is 8.</div>
        </div>
      </mat-form-field>

      <button mat-raised-button (click)="submit()" type="button">SignUp</button>
    </form>
<!--    <div class="col-12 text-center">-->
<!--      <button mat-button (click)="router.navigate(['login'])">I am already member</button>-->
<!--    </div>-->



      </mat-tab>
      <mat-tab label="LogIn">

        <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="signupForm" class="signup-form">
        <mat-form-field >
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com"
                 [ngClass]="{ 'is-invalid': signupFormCtrl.email.touched && signupFormCtrl.email.invalid }">
          <div class='invalid-feedback'>
            <div *ngIf='signupFormCtrl.email.errors?.required'>Required</div>
            <div *ngIf='signupFormCtrl.email.errors?.email'>Enter valid email address</div>
          </div>
        </mat-form-field>

        <mat-form-field >
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Password"
                 [ngClass]="{ 'is-invalid': signupFormCtrl.password.touched && signupFormCtrl.password.invalid }">
          <div class='invalid-feedback'>
            <div *ngIf='signupFormCtrl.password.errors?.required'>Required</div>
            <div *ngIf='signupFormCtrl.password.errors?.pattern'>Please enter lowercase, uppercase, special character and min length is 8.</div>
          </div>
        </mat-form-field>

        <button mat-raised-button (click)="submit()" type="button">LogIn</button>
        </form>
        <div class="col-12 text-center">
          <button mat-button (click)="router.navigate(['login'])">I am already member</button>
        </div>

      </mat-tab>
    </mat-tab-group>


    <mat-toolbar >
      <div class="theme-options">
        <div id="theme-white"></div>
        <div id="theme-blue"></div>
        <div id="theme-green"></div>
        <div id="theme-pink"></div>
        <div id="theme-yellow"></div>
        <div id="theme-purple"></div>

      </div></mat-toolbar>
  </mat-card>

</div>
